<template name="footer">
    <footer class="animate  animate--fadein">
        <p class="nav center-text">{ <a href="{{pathFor 'postsList'}}">view the posts</a> }</p>
        <ul class="nav  nav--social">
            <li><a href="http://dribbble.com/lukelarsen" target="_blank" class="social  social--dribbble" aria-hidden="true" data-icon="&#xe001;"></a></li>
            <li><a href="https://twitter.com/lukelarsen" target="_blank" class="social  social--twitter" aria-hidden="true" data-icon="&#xe000;"></a></li>
            <li><a href="https://github.com/lukelarsen" target="_blank" class="social  social--github" aria-hidden="true" data-icon="&#xe002;"></a></li>
            <li><a href="http://www.linkedin.com/pub/luke-larsen/1/466/b47" target="_blank" class="social  social--linkedin" aria-hidden="true" data-icon="&#xf0e1;"></a></li>
            <li><a href="/feed.xml" target="_blank" class="social  social--rss" aria-hidden="true" data-icon="&#xf09e;"></a></li>
            <li><a href="mailto:luke@lukelarsen.com" class="social  social--mail" aria-hidden="true" data-icon="&#xe004;"></a></li>
        </ul>
    </footer>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24275590-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</template>