/*------------------------------------*\ 
        $CONTENTS    
\*------------------------------------*/ 
/**
 * NAV GENERIC
 * NAV MAIN
 * PAGINATION
 * NAV SOCIAL
*/

.new-stuff{
    display: block;
    float: left;
}



/*------------------------------------*\ 
    $NAV GENERIC    
\*------------------------------------*/

.nav{
    @extend .cf;

    li{
        float: left;
        list-style-type: none;
    }

    a{
        font-weight: 300;
    }
}




/*------------------------------------*\ 
    $NAV MAIN    
\*------------------------------------*/

nav{
    @include font-size($beta);
    margin-bottom: 35px;
    color: $gray3;
    text-align: center;

    @include media-query(palm) {
        @include font-size($gamma);

        span{
            display: none;
        }
    }

    a{
        padding: 0 10px;
        color: $gray6;

        @include media-query(palm) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}





/*------------------------------------*\ 
    $PAGINATION    
\*------------------------------------*/

.load-more{
    margin-top: 70px;
    padding: 15px;
    width: 100%;
    display: block;
    text-align: center;
    color: $gray6;
    background-color: $gray3;
    
    &:hover{
        background-color: $color2;
        color: $white;
    }
}





/*------------------------------------*\ 
    $NAV SOCIAL    
\*------------------------------------*/

.nav--social{
    margin: 100px auto 40px;
    padding: 0;
    width: 212px;

    li{
        margin: 0 10px;
    }
    
    a{
        @include sizing(15px, 27px);
        display: block;
        color: $gray4;
    }   
}

.social--dribbble:hover{ color: $dribbble; }
.social--twitter:hover{ color: $twitter; }
.social--github:hover{ color: $github; }
.social--linkedin:hover{ color: $linkedin; }
.social--rss:hover{ color: $rss; }
.social--mail:hover{ color: $email; }
