/*------------------------------------*\ 
    $CONTENTS    
\*------------------------------------*/ 
/**
 * LOAD FONTS
 * ICONS
 * BASE SETTINGS
 * COLORS
 * HEADLINES
 * LINKS
 * CODE
*/





/*------------------------------------*\ 
    $LOAD FONTS    
\*------------------------------------*/

@include font-face("Samantha Italic", "/fonts/samantha_italic_pro-webfont");
@include font-face("Icons", "/fonts/icons");





/*------------------------------------*\ 
    $ICONS    
\*------------------------------------*/

[data-icon]:before {
    font-family: 'icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





/*------------------------------------*\ 
    $BASE SETTINGS    
\*------------------------------------*/

body{
    @include font-size($base-font-size);
    margin-bottom: 100px;
    color: $gray6;
    font-family: $sans-serif;
}

p{
    margin: 35px 0;

    @include media-query(portable) {
        margin: 10px 0 35px 0;
    }
}

.center-text{
    text-align: center;
}

.center-help{
    padding-left: 20px;
}

.font-light{
    letter-spacing: .14em;
    font-weight: 100;
    font-family: $sans-serif-light;;
}

.script{
    font-family: $script;
}




/*------------------------------------*\ 
    $COLORS    
\*------------------------------------*/

.gray4{ color: $gray4; }





/*------------------------------------*\ 
    $HEADLINES    
\*------------------------------------*/

@include headings(){
    font-family: $sans-serif-light;
    font-weight: 200;
}

h1, .mega       { @include font-size($mega); }
h2, .alpha      { @include font-size($alpha); }
h3, .beta       { @include font-size($beta); }
h4, .gamma      { @include font-size($gamma); }
h5, .delta      { @include font-size($delta); }
h6, .epsilon    { @include font-size($epsilon); }

h1.alpha, 
h2{ 
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: -15px;
    width: auto;

    @include media-query(palm) {
        margin-left: 0;
    }

    a{
        @include svg-background(double-border);
        padding-top: 10px;  
        padding-right: 60px;
        padding-bottom: 10px;
        padding-left: 32px;
        background-color: $gray1;
        background-position: left;
        background-repeat: repeat-y;
        color: $gray6;

        @include media-query(palm) {
            display: block;
            width: 100%;
        }
    }
}

h1.title,
h2.title{
    @include svg-background(double-border);
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: -15px;  
    padding-right: 60px;
    padding-left: 32px;
    width: auto;
    background-color: $gray1;
    background-position: left;
    background-repeat: repeat-y;
    color: $gray6;

    @include media-query(palm) {
        @include font-size($beta + 5);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

h2{
    @include media-query(palm) {
        @include font-size($beta + 5);
        padding-top: 10px;
        margin-left: -15px;
    }
}

h3{
    margin-bottom: -22px;
    color: $color2;

    @include media-query(portable) {
        margin-bottom: 0px;
    }
}





/*------------------------------------*\ 
    $LINKS    
\*------------------------------------*/

a{
    @include transition (all .3s ease-in);
    color: $color2;
    text-decoration: none;

    &:hover{
        color: $color1;
    }
}





/*------------------------------------*\ 
    $CODE    
\*------------------------------------*/

code{
    background-color: $gray1;
    padding: 10px 20px;
    // margin: 10px 0;
    display: inline-block;
}