<template name="assemble">
    <a href="/" class="back-btn  back-btn--top  animate  animate--fadein">&larr; Home</a>
    <div class="content" id="js-page-top">
        <img class="project-image  animate  animate--fadein" src="project-single-assemble1.png" alt="Assemble Documentations">
        <img class="project-image  project-tablet" src="project-single-assemble2.png" alt="Assemble Tablet">
        <img class="project-image  project-mobile" src="project-single-assemble3.png" alt="Assemble Mobile">
        <a href="/" class="back-btn  relative">&larr; Home</a>
        <br><br><br>
    </div>
</template>