<template name="envelopeBudget">
    <a href="/" class="back-btn  back-btn--top  animate  animate--fadein">&larr; Home</a>
    <div class="content" id="js-page-top">
        <img class="project-image  animate  animate--fadein" src="project-single-envelope1.png" alt="Envelope Budget Envelopes">
        <img class="project-image  project-tablet" src="project-single-envelope2.png" alt="Envelope Tablet">
        <img class="project-image  project-mobile" src="project-single-envelope3.png" alt="Envelope Mobile">
        <a href="/" class="back-btn  relative">&larr; Home</a>
        <br><br><br>
    </div>
</template>