<template name="jobdash">
    <a href="/" class="back-btn">&#xffe9; Home</a>
    <div class="content" id="js-page-top">
        <img class="project-image  animate  animate--fadein" src="project-single-jobdash1.jpg" alt="JobDash Homepage">
        <img class="project-image" src="project-single-jobdash2.png" alt="JobDash Homepage">
        <img class="project-image  project-mobile" src="project-single-jobdash3.png" alt="JobDash Homepage">
        <img class="project-image" src="project-single-jobdash4.png" alt="JobDash Homepage">
        <img class="project-image" src="project-single-jobdash5.png" alt="JobDash Homepage">
        <a href="/" class="back-btn  relative">&#xffe9; Home</a>
    </div>
</template>