<template name="resume">
<a href="/" class="back-btn">&#65513; Home</a>
    <div class="content  content--resume  animate  animate--fadein" id="js-page-top" style="padding-top: 40px;">
        <h1 style="margin-top: 0;">Luke Larsen</h1>
        <h2>UX Designer & Developer</h2>
        <p class="sans-bold-italic  gray  small">
            Farmington, UT<br>
            luke@lukelarsen.com<br>
            lukelarsen.com
        </p>
        <div class="bar  bar--spaced">
            <span class="bar-orange"></span>
            <span class="bar-yellow"></span>
            <span class="bar-blue"></span>
            <span class="bar-blue-light"></span>
            <span class="bar-green"></span>
        </div>

        <h3 class="orange">Technical Skills</h3>
        <h4>Languages & Frameworks</h4>
        <p class="flush--top">HTML, Sass, CSS, HTML Email, Javascript, jQuery, AngularJS, Meteor</p>

        <h4>Applications</h4>
        <p class="flush--top">Sketch, Adobe Suite, Git, Vim, Mac OSX</p>

        <h4>Skills</h4>
        <p class="flush--top">User Experience Design, Usability Testing, User Research, Storyboarding, Application Architecture</p>

        <div class="bar  bar--spaced">
            <span class="bar-orange"></span>
            <span class="bar-yellow"></span>
            <span class="bar-blue"></span>
            <span class="bar-blue-light"></span>
            <span class="bar-green"></span>
        </div>

        <h3 class="yellow">Education</h3>
        <h4>Bachelors of Fine Arts</h4>
        <p class="flush--top">Weber State University, Ogden, Utah - May 2006</p>

        <h4>Associates of Arts</h4>
        <p class="flush--top">Dixie State University, St. George, Utah - May 2003</p>

        <div class="bar  bar--spaced">
            <span class="bar-orange"></span>
            <span class="bar-yellow"></span>
            <span class="bar-blue"></span>
            <span class="bar-blue-light"></span>
            <span class="bar-green"></span>
        </div>

        <h3 class="light-blue">Professional Experience</h3>
        <h4>Lead UX Designer / Front-End Dev</h4>
        <p class="flush--top"><span class="light-blue">JobDash</span>, Salt Lake City, Utah - 2013 -- Present</p>
        <ul>
            <li>Storyboard and plan a large scale web application for job seekers</li>
            <li>Create branding & brand style guide from scratch</li>
            <li>Conducted User Tests on proposed designs</li>
            <li>Produced high fidelity application designs</li>
            <li>Directed and crafted the user experience</li>
            <li>Put in place HTML and Sass (CSS) patterns and components</li>
            <li>Produced fully responsive and browser tested front-end code</li>
            <li>Designed and built fully responsive HTML emails</li>
        </ul>

        <br>
        ------
        <br><br>

        <h4>Senior UX Engineer</h4>
        <p class="flush--top"><span class="light-blue">SaxtonHorne</span>, Murray, Utah - Jan. 2013 -- April 2013</p>
        <ul>
            <li>Balanced multiple client UX projects at the same time</li>
            <li>Brainstormed and prototyped complex website layouts</li>
            <li>Designed experiences for e-commerce websites</li>
            <li>Provided solutions in group brainstorming sessions</li>
        </ul>

        <br>
        ------
        <br><br>

        <h4>Lead UX Designer / Front-End Dev</h4>
        <p class="flush--top"><span class="light-blue">ReportTime</span>, Salt Lake City, Utah - 2011 -- 2013</p>
        <ul>
            <li>Create complete brand from scratch</li>
            <li>Early wireframe and concept creation</li>
            <li>Produced high fidelity application designs</li>
            <li>Tested and iterated on user experience</li>
            <li>Built HTML and Sass (CSS) patterns and components</li>
            <li>Produced fully responsive and browser tested front-end code</li>
        </ul>

        <br>
        ------
        <br><br>

        <h4>Interactive Designer</h4>
        <p class="flush--top"><span class="light-blue">Code Greene</span>, Salt Lake City, Utah - 2007 -- 2011</p>
        <ul>
            <li>Balanced many client projects at the same time</li>
            <li>Designed and built WordPress themes for clients</li>
            <li>Crafted various e-commerce layouts and designs</li>
            <li>Built front-end code for many small corporate websites</li>
            <li>Demoed work to clients and worked through comps to include their feedback</li>
        </ul>

        <br>
        ------
        <br><br>

        <h4>Interactive Designer</h4>
        <p class="flush--top"><span class="light-blue">DataMark</span>, Salt Lake City, Utah - May 2007 -- Sept. 2007</p>

        <h4>Web/Graphic Designer</h4>
        <p class="flush--top"><span class="light-blue">Marketing Media Communications</span>, Salt Lake City, Utah - 2006 -- 2007</p>

        <h4>Graphic Artist</h4>
        <p class="flush--top"><span class="light-blue">Kimber Kable,</span> Ogden, Utah - 2005 -- 2006</p>

        <div class="bar  bar--spaced">
            <span class="bar-orange"></span>
            <span class="bar-yellow"></span>
            <span class="bar-blue"></span>
            <span class="bar-blue-light"></span>
            <span class="bar-green"></span>
        </div>

        <h3 class="green">Interests</h3>
        <p>Tennis, Ping Pong, Biking, Chiptunes, Video Game Music, The Legend of Zelda, ASL</p>
    </div>
    <a href="/" class="back-btn  relative">&#65513; Home</a>
</template>