<template name="tennisMatched">
    <a href="/" class="back-btn  back-btn--top  animate  animate--fadein">&larr; Home</a>
    <div class="content" id="js-page-top">
        <img class="project-image  animate  animate--fadein" src="project-single-tennis1.png" alt="Tennis Matched Friends">
        <img class="project-image" src="project-single-tennis2.png" alt="Tennis Matched Match">
        <img class="project-image" src="project-single-tennis3.png" alt="Tennis Matched Couters">
        <a href="/" class="back-btn  relative">&larr; Home</a>
        <br><br><br>
    </div>
</template>